<?php
/**@var Magento\Framework\View\Element\Template $block */
/**@var Mastering\LuxuryTax\ViewModel\LuxuryTaxViewModel $viewModel */
$viewModel = $block->getData('view_model');
$customer = $viewModel->getUserByParams();
$customerGroup = (int)$customer->getGroupId()
?>
<?php try {
    $tax = $viewModel->getTax($customerGroup); ?>
    <div class="fieldset-wrapper customer-information">
        <div class="fieldset-wrapper-title">
            <span class="title">Luxury Tax</span>
        </div>
        <table class="admin__table-secondary">
            <tbody>
            <tr>
                <th>Name:</th>
                <td><?php echo $tax->getTaxName() ?></td>
            </tr>
            <tr>
                <th>Status:</th>
                <?php if ($tax->getStatus()): ?>
                    <td>enable</td>
                <?php else: ?>
                    <td>disable</td>
                <?php endif; ?>
            </tr>
            <tr>
                <th>Condition amount:</th>
                <td><?php echo $tax->getConditionAmount() ?></td>
            </tr>
            <tr>
                <th>Tax rate:</th>
                <td><?php echo $tax->getTaxRate() ?></td>
            </tr>
            </tbody>
        </table>
        <address>
            <strong>Tax description</strong><br>
            <?php echo $tax->getDescription() ?>
        </address>
    </div>
<?php } catch (Exception $e) {
} ?>