<!-- ko if: (getValue() != 0)-->
<tr class="totals luxuryTax excl">
    <th class="mark" colspan="1" data-bind="text: title" scope="row"></th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->