<?php
/**@var Magento\Customer\Block\Account\Dashboard\Info $block */
/**@var Mastering\LuxuryTax\ViewModel\LuxuryTaxViewModel $viewModel */
$viewModel = $block->getData('view_model');
$customerGroup = $block->getCustomer()->getGroupId();
?>
<?php try {
    $tax = $viewModel->getTax($customerGroup); ?>
    <div class="box-title">
        <strong>Luxury tax</strong>
    </div>
    <p>
        <?php echo $tax->getTaxName() ?> <br>
        <?php echo $tax->getDescription() ?> <br>
        Status:
        <?php if ($tax->getStatus()): ?>
            enable <br>
        <?php else: ?>
            disable <br>
        <?php endif; ?>
        Condition amount: <?php echo $tax->getConditionAmount() ?> %<br>
        Tax rate: <?php echo $tax->getTaxRate() ?> <br>
    </p>
<?php } catch (Exception $e) {
} ?>